<!DOCTYPE html>
<html>
  <head>
    <title>TheoryOfGamesAndDecisions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Исходные данные', decisions_initial_path %>
      <%= link_to 'Парето', decisions_pareto_path %>
      <%= link_to 'Нормализированные', decisions_normalized_path %>
      <%= link_to 'ELECTRE', decisions_electre_path %>
      <%= link_to 'Голосование', votes_path %>
      <%= link_to 'Правило абсолютного большинства', votes_majority_path %>
      <%= link_to 'Правило Симпсона', votes_simpson_path %>
      <%= link_to 'Игра', game_path %>
    </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
